.type-badge {
  color: white;
  font-weight: bold;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.type-grass {
  background-color : #6BB153;
}

.type-poison {
  background-color: #884285;
}

.type-fire {
  background-color: #EC7F45;
}

.type-flying {
  background-color: #9A8AE8;
}

.type-water {
  background-color: #6183DD;
}

.type-bug {
  background-color: #99A836;
}

.type-normal {
  background-color: #949365;
}

.type-fighting {
  background-color: #BB3433;
}

.type-rock {
  background-color: #B59C4A;
}

.type-ghost {
  background-color: #584E77;
}

.type-steel {
  background-color: #B8BACF;
}

.type-electric {
  background-color: #F6CD51;
}
