@import '../global.variables';

li {
  display: inline-block;
  position: relative;
  background: linear-gradient($pkmn-background-main, $pkmn-background-secondary 50%, $pkmn-background-main);
  min-width: 100px;
  border: 1px solid $pkmn-list-border;
  border-radius: 15px;
  margin: 12px;
  box-shadow: 2px 2px $shadow;

  &:before {
    content: " ";
    border: 2px solid #0765D4;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
}

span {
  color: white;
  font-family: avenir;
  font-weight: 500;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-shadow: 2px 1px $shadow;
}

img {
  padding: 10px;
}
