@import '../global.variables';
@import '../shared/type-badges';

:host {
  display: block;
  height: 100%;
  background: linear-gradient($pkmn-background-main, $pkmn-background-secondary 50%, $pkmn-background-main);
  color: white;
}

header {
  padding: 0 30px;
  text-align: center;
}

img {
  width: 200px;
}

h1 {
  font-size: 24px;
  text-transform: capitalize;
}

.type {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 5px;
}

.info,
.types {
  text-align: center;
}

.description {
  margin: 0 20px;
  line-height: 20px;
}
