@import '../global.variables';
@import '../shared/type-badges';

:host {
  display: block;
  background: linear-gradient($pkmn-background-main, $pkmn-background-secondary 50%, $pkmn-background-main);
  color: white;
}

header {
  padding: 0 30px;
  text-align: center;

  img {
    width: 200px;
  }
}

h1 {
  font-size: 24px;
}

.type {
  font-weight: bold;
  display: inline-block;
  margin: 10px 5px;
}

.info,
.types {
  text-align: center;
}

.description,
.total,
.stats div {
  margin: 10px 20px;
}

.description {
  line-height: 20px;
}

.egg-groups,
.sprites {
  text-align: center;
  margin: 20px 0;
}

h3 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5px;
}

.comma {
  margin-left: -3px;
}

.sprites img {
  margin: 0 30px;
}

.stats span {
  min-width: 60px;
  display: inline-block;
}
