@import '../global.variables';
@import '../shared/type-badges';

:host {
  display: block;
  height: 100%;
  background: linear-gradient($pkmn-background-main, $pkmn-background-secondary 50%, $pkmn-background-main);
  color: white;
}

header {
  padding: 0 30px;
  text-align: center;

  img {
    width: 200px;
  }
}

section {
  text-align: center;
  margin: 15px 20px;
}

p {
  text-align: left;
  margin: 10px 20px
}

h1 {
  font-size: 24px;
}

.pkmn-id {
  display: block;
}

.type {
  font-weight: bold;
  display: inline-block;
  margin: 5px;
}

.stats div {
  text-align: left;
  margin: 10px 20px;
}

.description {
  line-height: 20px;
}

.profile-row {
  display: flex;
  margin: 2px 0;
  text-align: left;

  span {
    flex-basis: 100%;
  }
}

h3 {
  text-decoration: underline;
  margin-bottom: 5px;
}

.comma {
  margin-left: -3px;
}

.sprites img {
  margin: 0 30px;
}

.stats span {
  min-width: 60px;
  display: inline-block;
}

.evolutions {
  img, p {
    width: 100px;
  }

  p {
    text-align: center;
    margin: auto;
  }
}
