<header>
  <img src="assets/pokemon/{{ pokemon.id }}.png" [alt]="pokemon.name">
</header>

<section class="info">
  <h1 class="capitalize">{{ pokemon.name }}</h1>
  <span>#{{ pokemon.id | pkmnId }} {{ species.genera[0].genus }} Pokémon</span>
</section>

<section class="types">
  <span *ngFor="let t of pokemon.types" class="type uppercase" [ngClass]="t.type.name">{{ t.type.name }}</span>
</section>

<p class="description">{{ species.flavor_text_entries[1].flavor_text }}</p>

<section class="egg-groups">
  <h3>EGG GROUPS</h3>

  <span *ngFor="let e of species.egg_groups let lastIndex = last" class="capitalize">
    {{ e.name }}
    <span class="comma" *ngIf="!lastIndex">,</span>
  </span>
</section>

<section class="sprites">
  <h3>SPRITES</h3>
  <img src="assets/pokemon/animated/{{ pokemon.id | pkmnId }}.gif" alt="{{ pokemon.name }} gen6 sprite">
  <img src="assets/pokemon/animated/shiny/{{ pokemon.id | pkmnId }}.gif" alt="{{ pokemon.name }} gen6 sprite">
</section>

<section class="stats">
  <h3>BASE STATS</h3>

  <div *ngFor="let s of pokemon.stats">
    <span>{{ s.stat.name | stats }} {{ s.base_stat }}</span>
    <app-stat-meter [stat]="s.base_stat"></app-stat-meter>
  </div>

  <p class="total">TOTAL {{ getTotalStats() }}</p>
</section>

<section class="evolutions">
  <h3>EVOLUTIONS</h3>
  <div class="evolves-from" *ngIf="species.evolves_from_species">
    <img src="assets/pokemon/{{ getPkmnIdFromUrl(species.evolves_from_species.url) }}.png" alt="{{ species.evolves_from_species.name }}" class="from">
    <p>Level 16</p>
  </div>
</section>