@import '~/globals';

.pokemon-detail {
  text-align: center;
  margin: 0 15px;
  position: relative;

  .arrow {
    font-size: 32px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 10%;
    text-decoration-line: none;
  }

  .arrow-previous {
    left: 0;
  }

  .arrow-next {
    right: 0;
  }

  .sugimori-img {
    width: 200px;
    margin: 15px auto;
    display: block;
  }

  .name {
    margin-bottom: 0;
  }

  .id-genus {
    margin-top: 0;
  }

  .egg-groups,
  .sprites,
  .base-stats {
    margin-top: 30px;

    h3 {
      text-decoration: underline;
      margin-bottom: 5px;
    }
  }

  .normal-sprite,
  .shiny-sprite {
    display: inline-block;
    margin: 0 25px;
  }

  .shiny-sprite {
    color: $primary;
  }
}
