@import '~/globals';

.pokemon-detail {
  text-align: center;

  .sugimori-img {
    width: 200px;
    margin: 0 auto;
    display: block;
  }

  .name {
    margin-bottom: 0;
  }

  .id-genus {
    margin-top: 0;
  }

  .egg-groups,
  .sprites,
  .base-stats {
    margin-top: 30px;

    h3 {
      text-decoration: underline;
      margin-bottom: 5px;
    }
  }

  .normal-sprite,
  .shiny-sprite {
    display: inline-block;
    margin: 0 25px;
  }

  .shiny-sprite {
    color: $primary;
  }
}
