$colors: (
  poor: #F12A2B,
  avg: #FA9131,
  above-avg: #F7C439,
  great: #37F739,
  super: #38F9F8
);

@mixin getColor($name) {
  .#{$name} {
    background-color: map-get($colors, $name);
  }
}

@include getColor(poor);
@include getColor(avg);
@include getColor(above-avg);
@include getColor(great);
@include getColor(super);
