@import '~/globals';

.stat-meter,
.meter-fill {
  display: inline-block;
  min-width: 8px;
  height: 8px;
}

.stat-meter {
  background-color: $meter-background;
  position: relative;

  .meter-fill {
    position: absolute;
    left: 0;
  }
}
