@import '../../global.variables';

h3 {
  text-decoration: underline;
  margin-bottom: 5px;
}

h4 {
  text-align: left;
}

.moves-filter {
  margin: 10px 0;
  display: flex;
}

.moves-filter li {
  display: inline-block;
  flex-basis: 33%;
  padding: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  cursor: pointer;
  user-select: none;

  &:first-child {
    border-left-width: 1px;
  }

  &:hover {
    background-color: rgba(white, 0.25);
  }

  &.active {
    background-color: white;
    color: $pkmn-background-main;
  }
}

.natural-moves {
  display: flex;
}
