<h3>MOVES</h3>


<ul class="moves-filter">
  <li (click)="setActiveMovelist('level-up')" [class.active]="activeMovelist === 'level-up'">Natural Moves</li>
  <li (click)="setActiveMovelist('machine')" [class.active]="activeMovelist === 'machine'">TM/HM Moves</li>
  <li (click)="setActiveMovelist('tutor')" [class.active]="activeMovelist === 'tutor'">Tutor Moves</li>
</ul>

<div *ngFor="let a of moveMap[activeMovelist]; let i = index" (click)="getMoveDetail($event, a.move.url, i)" class="move-name capitalize">
  {{ a.move.name }}
  <i class="dropdown-arrow"></i>

  <div class="move-details hidden">
    <div class="move-info-row">
      <span class="power">Power: {{ a.moveDetails?.power }}</span>
      <span class="accuracy">Accuracy: {{ a.moveDetails?.accuracy }}</span>
      <span class="pp">PP: {{ a.moveDetails?.pp }}</span>
    </div>

    <span class="description">{{ a.moveDetails?.flavor_text_entries[1].flavor_text }}</span>
  </div>
</div>
