@import '../../global.variables';

$hover-color: rgba(white, 0.25);

h3 {
  text-decoration: underline;
  margin-bottom: 5px;
}

h4 {
  text-align: left;
}

.moves-filter {
  margin: 10px 0;
  display: flex;
}

.moves-filter li {
  display: inline-block;
  flex-basis: 33%;
  padding: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  cursor: pointer;
  user-select: none;

  &:first-child {
    border-left-width: 1px;
  }

  &:hover {
    background-color: $hover-color;
  }

  &.active {
    background-color: white;
    color: $pkmn-background-main;
  }
}

span {
  padding: 20px;
  display: block;
  position: relative;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

.dropdown-arrow {
  background-image: url(../../../svg/arrow-right.svg);
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
