@import '../../global.variables';

h3 {
  text-decoration: underline;
  margin-bottom: 5px;
}

h4 {
  text-align: left;
}

.moves-filter {
  margin: 10px 0;
  display: flex;
}

.moves-filter li {
  display: inline-block;
  flex-basis: 33%;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgba(white, 0.25);
  }

  &.active {
    background-color: white;
    color: $pkmn-background-main;
  }
}

.natural-moves {
  display: flex;
}
