<h3>MOVES</h3>


<ul class="moves-filter">
  <li (click)="setActiveMovelist('level-up')" [class.active]="activeMovelist === 'level-up'">Natural Moves</li>
  <li (click)="setActiveMovelist('machine')" [class.active]="activeMovelist === 'machine'">TM/HM Moves</li>
  <li (click)="setActiveMovelist('tutor')" [class.active]="activeMovelist === 'tutor'">Tutor Moves</li>
</ul>

<span *ngFor="let a of moveMap[activeMovelist]" class="move-name capitalize">
  {{ a.move.name }}
  <i class="dropdown-arrow"></i>
</span>
