@mixin simpleExpand($name, $direction, $direction2) {
  @keyframes #{$name} {
    from {
      #{$direction}: -8px;
      #{$direction2}: -8px;
    }

    to {
      #{$direction}: -2px;
      #{$direction2}: -2px;
    }
  }
}

@mixin simpleAnimation($name) {
  animation-name: #{$name};
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
