@import '../../global.variables';
@import '../../global.mixins';

$cursor-fill: #F24447;
$cursor-border: #B62A36;
$cursor-border: 5px solid $cursor-fill;

@include simpleExpand(top-left, top, left);
@include simpleExpand(top-right, top, right);
@include simpleExpand(bottom-left, bottom, left);
@include simpleExpand(bottom-right, bottom, right);

:host, div {
  &:before, &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
  }

  &:before {
    left: -10px;
    border-left: $cursor-border;
  }

  &:after {
    right: -10px;
    border-right: $cursor-border;
  }
}

:host {
  &:before {
    border-top: $cursor-border;
    border-top-left-radius: $border-radius;
    @include simpleAnimation(top-left);
  }

  &:after {
    border-top: $cursor-border;
    border-top-right-radius: $border-radius;
    @include simpleAnimation(top-right);
  }
}

div {
  &:before {
    border-bottom: $cursor-border;
    border-bottom-left-radius: $border-radius;
    @include simpleAnimation(bottom-left);
  }

  &:after {
    border-bottom: $cursor-border;
    border-bottom-right-radius: $border-radius;
    @include simpleAnimation(bottom-right);
  }
}
