.stats {
  .stat-container {
    margin: 10px 0;
  }

  .stat-name {
    width: 31px;
    display: inline-block;
    text-align: left;
  }

  .stat-point {
    margin: 0 5px;
  }

  .stat-meter {
    width: 80%;
  }

  .total {
    text-align: left;
  }
}
