.stats {
  .stat-container {
    margin: 10px 0;
  }

  .stat-name,
  .stat-point {
    display: inline-block;
    text-align: left;
  }

  .stat-name {
    width: 31px;
  }

  .stat-point {
    width: 27px;
    margin: 0 5px;
  }

  .stat-meter {
    width: 80%;
  }

  .total {
    text-align: left;
  }
}
