* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  background-color: #F9F9F9;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}

.skeleton {
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-color: rgba(gray, 0.7);
  }

  100% {
    background-color: rgba(gray, 0.2);
  }
}
