<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="client/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<title>Title</title>
</head>
<body>
	<div id="server-content"><%- markup %></div>

	<div id="client-content"></div>

  <script>
		window.PRELOADED_STATE = <%- JSON.stringify(preloadedState).replace(/</g, '\\u003c') %>
  </script>
	<script src="client/bundle.js"></script>
</body>
</html>
