@import './reset';
@import './app/global.variables';

body {
  background-color: $body-background;
  font-family: avenir;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}
